.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}
.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;


}
#man{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-style: normal;
}

.message{
    background-color: grey;
    width: 50%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 14px;

}
.left{
    float: left;
    clear: both;

}
.right{
    float: right;
    clear: both;

}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;

}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
     

}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239)); 

}